In [6]:
from database import Prices, Host, Database

price = Prices()
price.report()

Index: 0 Symbol: ^FTAS Last date: 2017-09-01 Count: 1937
Index: 1 Symbol: ^N225 Last date: 2017-09-01 Count: 1882
Index: 2 Symbol: ^GDAXI Last date: 2017-09-01 Count: 1950
Index: 3 Symbol: ^GSPC Last date: 2017-09-01 Count: 1931
Index: 4 Symbol: GLD Last date: 2017-09-01 Count: 1931
Index: 5 Symbol: ACWI Last date: 2017-09-01 Count: 1931
Index: 6 Symbol: WGC/GOLD_DAILY_USD Last date: 2017-09-01 Count: 10127
Index: 7 Symbol: ODA/PALLFNF_INDEX Last date: 2017-06-30 Count: 306
Index: 8 Symbol: FRED/DFF Last date: 2017-08-31 Count: 23073
Index: 9 Symbol: BOE/IUDBEDR Last date: 2017-08-31 Count: 10787
Index: 10 Symbol: BUNDESBANK/BBK01_SU0202 Last date: 2017-07-31 Count: 223
Index: 11 Symbol: FRED/DGS10 Last date: 2017-08-31 Count: 13903
Index: 12 Symbol: ECB/FM_M_U2_EUR_4F_BB_U2_10Y_YLD Last date: 2017-05-31 Count: 569
Index: 13 Symbol: BOE/IUDMNPY Last date: 2017-08-30 Count: 6022
Index: 14 Symbol: MOFJ/INTEREST_RATE_JAPAN_10Y Last date: 2017-08-31 Count: 7734
Index: 15 Symbol: CHRIS/ICE_DX1 Last date: 2017-09-01 Count: 8112
Index: 16 Symbol: BOE/XUDLGBD Last date: 2017-08-31 Count: 10787
Index: 17 Symbol: BOE/XUDLBK73 Last date: 2017-08-31 Count: 3139
Index: 18 Symbol: BOE/XUDLJYD Last date: 2017-08-31 Count: 10787
Index: 19 Symbol: BOE/XUDLERD Last date: 2017-08-31 Count: 10787
Index: 20 Symbol: RATEINF/CPI_USA Last date: 2017-07-31 Count: 1255
Index: 21 Symbol: RATEINF/CPI_JPN Last date: 2017-07-31 Count: 571
Index: 22 Symbol: RATEINF/CPI_EUR Last date: 2017-07-31 Count: 331
Index: 23 Symbol: RATEINF/CPI_GBR Last date: 2017-07-31 Count: 355

In [20]:
data = Database()
select_query = "select * from price where symbol ='^FTA'"

result = data.get(select_query)
result

Empty DataFrame
Columns: [symbol, date, price]
Index: []

In [21]:
result.date.max()

nan

In [22]:
import pandas
today = pandas.to_datetime('today')
db_latest_date = pandas.to_datetime(result.date.max())
if db_latest_date < today:
    print("Date earlier: {}".format(db_latest_date))
else:
    print("Date later")

Date later